<<<<<<< HEAD
<h1>Profile Page for <%= @user.name%></h1>

<p>Email: <%= @user.email %></p>
=======
<h1>Profile Page for <%= @user.name %></h1>

<p>Email: <%= @user.email %></p>
>>>>>>> 3258a75cb0d4afbf384806f3a91cc86858f834a4
